<h2>検索結果</h2>
<table class="table table-hover table-inverse">
  <% if @range == "ユーザー名" %>
    <tbody>
    <% if @users.size == 0 %>
      <p>検索結果がありませんでした</p>
    <% else %>
      <% @users.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= link_to "詳細", user_path(f) %></td>
          </tr>
      <% end %>
    <% end %>
    </tbody>
  <% elsif %>
    <tbody>
      <% if @sceneries.size == 0 %>
        <p>検索結果がありませんでした</p>
      <% else %>
        <% @sceneries.each do |f| %>
        <tr>
          <td><%= link_to '投稿へ', scenery_path(f) %></td>
          <td><%= image_tag f.get_scenrery_image,  style: "width: 130px; align-self: flex-start;" %></td>
          <td><%= f.name %></td>
          <td><%= f.introduction %></td>
        </tr>
      <% end %>

      <% end %>
          </tbody>

  <% end %>
</table>