<%= stylesheet_link_tag "maps", :media => "all" %>
<h3>釣行場所</h3>
<div class="map">
  <div id="map">
  </div>
</div>

<div type="text/javascript">
  <script>
    function initMap(){
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
      zoom: 15
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  <%# migrateをsceneryにかえて下記をnewに追加 詳しくはhttps://zenn.dev/takuyanagai0213/articles/e2467175bdd5fc %>
  <%= form_with(model: @post, local: true) do |f| %>
    ・
    ・
 <div class="form-group">
   <%= f.label :address, '場所' %>
   <%= f.text_field :address, class: 'form-control' %>
 </div>
    ・
    ・
 <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>