<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "sceneries", :media => "all" %>
<div  class="col-md-3">
  <div class="containers px-4 px-lg-5">
    <% if user_signed_in? && current_user.id == 1 %>
    <% else %>
    <%# ジャンル検索 %>
      <%= render "sidebar", genres: @genres %>
    <% end %>
    <%# ユーザー詳細 %>
    <% if user_signed_in? %>
      <h2>User info</h2>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            </tr>
　          <%# フォロウ＆フォロワーの数 %>
　          <% if user_signed_in? && current_user.id == 1 %>
            <% else %>
              <%= render "public/users/followings", user: @user %>
            <% end %>
          </tbody>
        </table>
      <%# 投稿 %>
      <h2 class="mt-3">投稿</h2>
<%# エラーメッセージ %>
<%= render "layouts/error_messages", scenery: @scenery %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
      <%= form_with model: scenery, url: sceneries_path do |f| %>
        <div class="form-group">
          <p>投稿写真</p>
          <%= f.file_field :scenery_image, accept: "image/*" %><br>
        </div>
        <div class="form-group">
          <p>タイトル</p>
          <%= f.text_field :name, class: "textArea" %><br>
        </div>
        <div class="form-group">
          <p>説明</p>
            <%= f.text_area :introduction, class: "introduction textArea" %><br>
        </div>
        <div class="form-group">
          <p>ジャンル</p>
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {include_blank: "---"}, class: "w-100 my-auto" %><br>
        </div>
          <span><a class="btn btn-borders"><%= f.submit "投 稿 す る ！", class:"btn btn-borders" %></a></span>
      <% end %>
    <% end %>
  </div>
</div>