        <section class="projects-sections " id="projects">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="cool-lg-7">
                        <%= link_to  scenery_path(sceneries) do %>
                        <%= image_tag sceneries.get_scenrery_image, class:"img-fluid mb-3 mb-lg-0" %>
                    </div>
                        <div class="featured-text text-center text-lg-left">
                            <h4><%= sceneries.name %></h4>
                            <p class="text-black-50 mb-0"><%= sceneries.introduction %></p>
                        </div>
                        <% end %>
                        <div id=<%= "favorite_buttons_" + sceneries.id.to_s %> >
                            <%= render "public/favorites/favorite", scenery: sceneries %>
                        </div>
                    </div>
                </div>