     <body id="page-top">
<%= stylesheet_link_tag "sceneries", :media => "all" %>
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="cool-lg-7">
                        <%= image_tag sceneries.get_scenrery_image, class:"img-fluid mb-3 mb-lg-0" %>
                    </div>
                    <div class="cool-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4><%= sceneries.name %></h4>
                            <p class="text-black-50 mb-0"><%= sceneries.introduction %></p>
                        </div>
                    </div>
                    <h4>
                    <div id=<%= "favorite_buttons_" + sceneries.id.to_s %> >
                      <%= render "public/favorites/favorite", scenery: sceneries %>
                    </div>
                    <%= link_to '詳細へ', scenery_path(sceneries) %>
                    </h4>

                </div>
            </div>
        </section>

<%#= sceneries.genre.genre_name if sceneries.genre.present? %>

