        <%= stylesheet_link_tag "sceneries", :media => "all" %>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <%= render "sidebar", genres: @genres %>
    </div>
<div>



<%= form_with model: @scenery, url: sceneries_path do |f| %>
<%= f.file_field :scenery_image, accept: "image/*" %>
<%= f.text_field :name %>
<%= f.text_area :introduction, class: "form-control introduction" %>
<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, {include_blank: "---"}, class:"w-75" %>
<%= f.submit %>
<% end %>



</div>
<%# each文より処理を軽くする %>
<%= render partial: "public/sceneries/index", collection: @sceneries, as: 'sceneries' %>
