<div>
<%= form_with model: @scenery, url: sceneries_path do |f| %>
<%= f.text_field :name %>
<%= f.text_area :introduction %>
<%= f.submit %>
<% end %>
</div>
<% @sceneries.each do |f| %>
<%= f.name %>
<%= f.introduction %>
<%= link_to '詳細', scenery_path(f) %>
<% end %>