<h5>
  ジャンル
  ＜<%= @scenery.genre.genre_name if @scenery.genre.present? %>＞
</h5>

<section class="projects-section" id="projects">
  <div class="containers px-4 px-lg-5">
    <div class="row gx-0 mb-4 mb-lg-5">
      <div class="col-lg-6">
        <%= image_tag @scenery.get_scenrery_image, class:"img-fluid mb-3 mb-lg-0" %>
      </div>
      <div class="project-text featured-text  w-100 my-auto text-center text-lg-left">
        <h2><%= @scenery.name %>
        <span id=<%= "favorite_buttons_" + @scenery.id.to_s %> >
          <%= render "public/favorites/favorite", scenery: @scenery %><br>
        </span>
        </h2>
        <h3><%= @scenery.introduction %></h3>
      </div>
    </div>
  </div>
  <div class="containers px-4 px-lg-5">
            <%= render "public/scenery_comments/counter", scenery: @scenery %>
<% if @scenery.user == current_user %>
 <%= link_to '編集', edit_scenery_path(@scenery) %>
 <%= link_to 'Destroy', scenery_path(@scenery), method: :delete, "data-confirm" => "本当に消しますか?", class:"" %>
 <%= link_to 'マイページへ', user_path(current_user.id) %>
<% else %>
 <%= link_to '投稿者', user_path(@user) %>
<% end %>
 <span id=<%= "favorite_buttons_" + @scenery.id.to_s %> >
<%= render "public/favorites/favorite", scenery: @scenery %>
</span>
 <%= @scenery.user.name %>

<%= render "public/scenery_comments/form", scenery: @scenery, scenery_comment: @scenery_comment %>
<div class="public-scenery-comments-index">
<%= render "public/scenery_comments/index", scenery: @scenery %>
</div>

