<%= stylesheet_link_tag "sceneries", :media => "all" %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<p id="notice"></p>
<div class=" px-4 px-sm-0">
  <h4>
    ID　:　<%= @user.id %><br>
    ユーザー名　：<%= @user.name %>
  </h4>
  <h3>投稿一覧</h3>
</div>
<% @sceneries.each do |f| %>
  <p id="notice"></p>
  <div class=" px-5 px-sm-0">
    <div class="row">
      <div class="container ">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="cool-lg-6">
            <%= image_tag f.get_scenrery_image, class:"img-fluid " %>
          </div>
          <div class="cool-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white"><%= f.name %></h4>
                    <p class="mb-0 text-white"><%= f.introduction %></p><br>
                    <%= link_to '詳細へ', scenery_path(f) %>
                    <hr class="d-none d-lg-block mb-0 ms-0" />
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>