<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteScenery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/73f09fc4b1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

    <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">


      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">


        <%= render "layouts/header" %>

    </header>
  <body>
    <%= yield %>
  </body>
</html>